[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.0.x.cfg

package-name = collective.js.formvalidation 
package-directory = collective/js/formvalidation

parts +=
    omelette
    test
    releaser
    zopepy

develop = .

[versions]
zope.schema = 3.6.4

[instance]
eggs +=
    Products.PdbDebugMode
    Products.PrintingMailHost
    iw.debug

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${instance:location}/lib/python ./

[test]
recipe = collective.xmltestreport
eggs = ${buildout:package-name} 
defaults = ['--auto-color', '--auto-progress']

[releaser]
recipe = zc.recipe.egg
eggs = jarn.mkrelease

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
